## 1. height vs. career-high ranking

In [12]:
import pandas as pd
import os

PROCESSED_DIR = 'processed'
playerList = os.path.join(PROCESSED_DIR, "processedList.csv")
playerDf = pd.read_csv(playerList, sep=',')
# remove players without ranking info
playerDf = playerDf[playerDf['rank_single_ch'].notna()]
playerDf
# dtype={'age_year': int, 'age_day': int, 'pro_year': int, 'height': int, 'hand': int, 'rank_single_ch': int}

,pid,birthday,age_year,age_day,ioc,first_name,last_name,pro_year,height,hand,backhand,rank_single_ch,rank_single_ch_date,prize_career,residence
0,P487,1981-06-27,41.0,113.0,FRA,Eric,Prodon,2000.0,180.0,1.0,1.0,83,2011-08-22,551992.0,NaN
1,BD00,1982-03-31,40.0,201.0,MDA,Roman,Borvanov,2004.0,183.0,1.0,2.0,200,2011-10-24,142053.0,NaN
2,KD70,1994-09-03,28.0,45.0,SRB,Pedja,Krstin,2012.0,183.0,1.0,2.0,159,2016-05-09,473224.0,NaN
3,M399,1969-11-05,52.0,347.0,USA,Francisco,Montana,1990.0,183.0,1.0,2.0,100,1992-05-04,1248094.0,NaN
4,P353,1976-06-16,46.0,124.0,GER,Axel,Pretzsch,1996.0,185.0,1.0,2.0,99,2002-01-14,336815.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,O133,1978-04-16,44.0,185.0,ISR,Noam,Okun,1996.0,185.0,1.0,2.0,95,2002-04-22,784555.0,NaN
1221,CC66,1992-01-31,30.0,260.0,ARG,Andrea,Collarini,2010.0,183.0,2.0,2.0,186,2014-06-09,553101.0,Buenos Aires
1222,M146,1950-07-22,72.0,88.0,USA,Fred,McNair IV,1973.0,183.0,1.0,2.0,85,1975-04-30,461.0,NaN
1223,Y002,1965-07-01,57.0,109.0,AUS,Simon,Youl,1982.0,185.0,1.0,2.0,80,1992-09-28,930856.0,NaN
1224,S021,1959-10-11,63.0,7.0,NED,Michiel,Schapers,1982.0,198.0,1.0,1.0,25,1988-04-25,1119593.0,NaN

In [19]:
top20 = playerDf[playerDf['rank_single_ch'] <= 20]
top100 = playerDf[(playerDf['rank_single_ch'] <= 100) & (playerDf['rank_single_ch'] > 20)]
others = playerDf[playerDf['rank_single_ch'] > 100]

,pid,birthday,age_year,age_day,ioc,first_name,last_name,pro_year,height,hand,backhand,rank_single_ch,rank_single_ch_date,prize_career,residence
1,BD00,1982-03-31,40.0,201.0,MDA,Roman,Borvanov,2004.0,183.0,1.0,2.0,200,2011-10-24,142053.0,NaN
2,KD70,1994-09-03,28.0,45.0,SRB,Pedja,Krstin,2012.0,183.0,1.0,2.0,159,2016-05-09,473224.0,NaN
6,BT68,1998-10-02,24.0,16.0,MAR,Elliot,Benchetrit,2016.0,193.0,1.0,2.0,198,2020-02-10,539623.0,NaN
7,S465,1972-01-02,50.0,289.0,ITA,Davide,Scala,1990.0,180.0,1.0,2.0,117,1997-09-15,168066.0,NaN
9,BD59,1987-06-20,35.0,120.0,AUS,Carsten,Ball,2005.0,198.0,2.0,2.0,108,2010-07-26,671061.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,B317,1971-02-14,51.0,246.0,AUT,Thomas,Buchmayer,1989.0,185.0,2.0,2.0,198,1991-09-16,124133.0,NaN
1213,R632,1984-11-12,37.0,340.0,SWE,Michael,Ryderstedt,2002.0,188.0,2.0,2.0,130,2005-07-18,327437.0,NaN
1218,SN54,1995-03-18,27.0,214.0,POR,Frederico,Ferreira Silva,2013.0,178.0,2.0,2.0,168,2021-05-24,521994.0,NaN
1219,BC11,1987-02-10,35.0,250.0,UKR,Sergei,Bubka,2005.0,188.0,1.0,2.0,145,2011-11-14,465186.0,NaN
1221,CC66,1992-01-31,30.0,260.0,ARG,Andrea,Collarini,2010.0,183.0,2.0,2.0,186,2014-06-09,553101.0,Buenos Aires